<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bfa8f6">  <td>23/12/12 20:18:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Patch_TestCase@1e44b638]">excutor</td> 
  <td>main@250112971</td>   <td></td> </tr>
<tr bgcolor="8390b1">  <td>23/12/12 20:18:33</td>   <td>7591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Put_TestCase@6bc407fd]">excutor</td> 
  <td>main@250112971</td>   <td></td> </tr>
<tr bgcolor="858c6f">  <td>23/12/12 20:18:34</td>   <td>8999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Get_TestCase@291f18]">excutor</td> 
  <td>main@250112971</td>   <td></td> </tr>
<tr bgcolor="99686d">  <td>23/12/12 20:18:31</td>   <td>5896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase.excutor()[pri:0, instance:Test_Case_Packg.Post_TestCase@6f44a157]">excutor</td> 
  <td>main@250112971</td>   <td></td> </tr>
</table>
